.App-nav{
  background-color: #0c55e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-logo {
  max-width: 20%;
}

.Nav-ul {
  list-style-type: none;
  padding: 3px;
  display: flex;
  gap: 10px;
}